# SPDX-FileCopyrightText: NOI Techpark <digital@noi.bz.it>
#
# SPDX-License-Identifier: CC0-1.0

version: "3"
services:
  app:
    build: 
      context: .
      dockerfile: infrastructure/docker/node.dockerfile
    volumes:
      - ./:/code
    working_dir: /code
    command: sh -c "test -d node_modules || npm install; npm run wc"    
    #command: sh -c "npm run wc"    
  # serve:
  #   image: python:3.6-alpine
  #   volumes:
  #     - ./:/code
  #   working_dir: /code/work
  #   command: python -m http.server
  #   ports:
  #     - "8999:8000"
  #   tty: true
